<ul class="books list-group list-group-flush">
  <li class="list-group-item {{isEven ? 'book-even' : ''}}" *ngFor="let book of books; index as i; first as isFirst; last as isLast; even as isEven">
    <div class="book row">
      <div class="col-10">{{book.title}} {{bookLocation(isFirst, isLast)}}</div>
      <div class="col-1">
        <span class="remove-button" (click)="removeBook(i)" placement="right" ngbTooltip="Remove book from list">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </li>
</ul>
